{% extends "layout.html"%}

{% block content %}
<div class="col-md-4 offset-md-4">
    <form action="password" class="card card-4 p-5"
    style="background-color: #121212;"
    >
    <title>Password Generator</title>
    <h1>Password Generator </h1>
    <label for="length">Select the length of your password:</label>
    <select name="length" id="length" class="form-control">
        <option value="6">6 Characters</option>
        <option value="7">7 Characters</option>
        <option value="8">8 Characters</option>
        <option value="9">9 Characters</option>
        <option value="10">10 Characters</option>
        <option value="11">11 Characters</option>
        <option value="12">12 Characters</option>
    </select>
    <div class="form-check form-switch ">
        <label for="uppercase" class="form-check-label">Uppercase</label>
        <input type="Checkbox" name="Checkbox"  role="switch" id="uppercase" class="form-check-input">
    </div>
    <div class="form-check form-switch " >
        <label for="numbers" class="form-check-label">Numbers</label>
        <input type="Checkbox" name="Checkbox_number" class="form-check-input" role="switch" id="number">
    </div>
    <div class="form-check form-switch " >
        <label for="special"class="form-check-label">Special characters </label>
        <input type="Checkbox" name="Checkbox_special" role="switch" class="form-check-input" id="special">

    </div>
    <button> Generate password</button>
</form>

</div>
{% endblock %}
